.black {
    border: 1px solid #00F
}

img {
    max-width: 600px;
    height: auto;
}

.article-title {

}

.article-title span{
    margin-right: 10px;
    color: #969696;
}

.article-right {
}
#md-content {
    text-align: left !important;

}

[v-cloak] {
    display: none;
}