
/* img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
} */
:global([v-cloak]) {
    display: none !important;
}

.black {
    border: 1px solid #00F
}

.page-body {
    margin: 0 10px
}

.page-left {
    min-height: 1000px;
    margin-left: 20px;
}

/* 文章 */
.article {
    margin: 25px 0px;
}

.label-font {
    font-size: 13px
}

.article-title {
    cursor:pointer;
    color:#777;
    font-size:16px;
    margin-left: 5px;
}

.article-content {
    margin: 10px 0
}

.article-content-booton {
    margin: 0 -38px
}
.article-content-booton ul {
    list-style:none;
    min-width: 100px;
}

.article-content-booton ul li{
    float:left;
    font-size: 12px;
    margin-right: 10px
}

.article-content-center {
    color: #777;
    width: 100%;
    margin: 10px 0;
}

/* page right */
.page-right {
    /*margin: 33px 40px;*/

}
.right-article {
    height: 80px;
    margin: 10px;
    padding: 0px 0px;
}
.right-article .title {
    height: 100px;
    color: #777;
    font-size: 10px;
    height: 40%;
    margin: 5px 0;
    cursor:pointer;
}
.right-article-img {
    margin: 10px 0;
    padding: 0px 0px;
}
.page-right-content .date {
    color: #777;
    font-size: 10px;
    width: 50%;
    float: left;

}

.page-right-content .readNum {
    color: #777;
    font-size: 10px;
    width: 50%;
    float: left;
}
